#todo-container {
    height: 80vh;
    width: 40vw;
    margin: 20px auto;
    background-color: #ccffcc;
    border: 1px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
    color: blue;
}

#list {
    width: 80%;
    display: flex;
    border: 1px solid green;
    margin: 5px 0px;
    background-color:#99ffff;
    color: rgb(62, 62, 79);
    font-weight: bolder;
    align-items: center;
    border-radius:16px;
    padding-left:8px;
}

#list>p {
    margin: 0px;
}

#list>a {
    color: beige;
    font-weight: normal;
    margin-left: 10px;
    height: 16px;
    text-decoration: none;
    text-align: center;
}
#complete-button{
    background-color: green;
    width:71px;
    border:0.5px solid black;
    border-radius:8px;
    
}
#delete-button{
    background-color: red;
    width:64px;
    border:0.5px solid black;
    border-radius:8px;
}
#complete{
    color:#00cc00;
}